.logo
  line-height: 0

  &__img
    width: 288px
    height: 27px
    fill: $outer-space

.menu
  display: flex
  align-items: center

  &__item
    margin-right: 20px
    line-height: 22px
    color: $outer-space
    transition: color .4s
    &:hover
      color: $dodger-blue
    &:last-child
      margin-right: 0

.link-blue
  padding: 20px 30px
  background-color: $dodger-blue
  color: $white
  font-size: 14px
  line-height: 150%
  border-radius: 4px
  transition: background-color .4s
  &:hover
    background-color: $malibu

.title
  margin: 0
  font-family: "OpenSans-SemiBold", sans-serif
  font-weight: 600
  font-size: 36px
  line-height: 49px
  color: $outer-space

.text
  margin: 0
