.about
  padding: 100px 0
  @media screen and ( max-width: 768px )
    padding: 40px 0

  &__wrap
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    margin-bottom: 30px
    @media screen and ( max-width: 768px )
      margin-bottom: 20px
      font-size: 34px
      line-height: 46px
    @media screen and ( max-width: 425px )
      font-size: 26px
      line-height: 120%

  &__inner
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    @media screen and ( max-width: 705px )
      flex-direction: row
      justify-content: space-between
      overflow-y: hidden

  &__card-inner
    display: flex
    justify-content: space-between
    margin-bottom: 30px
    gap: 0 30px
    &:last-child
      margin-bottom: 0
    @media screen and ( max-width: 768px )
      margin-bottom: 20px
      gap: 0 20px
    @media screen and ( max-width: 705px )
      margin-bottom: 0
      gap: 0 10px

  &__card
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-shrink: 1
    padding: 40px
    max-width: 584px
    width: 100%
    min-height: 325px
    border: 1px solid $gallery
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05)
    border-radius: 5px
    @media screen and ( max-width: 768px )
      padding: 20px
      max-width: 365px
    @media screen and ( max-width: 705px )
      max-width: 310px
      flex-shrink: 0

  &__content
    display: flex
    justify-content: space-between
    width: 100%
    @media screen and ( max-width: 768px )
      margin-bottom: 15px
    @media screen and ( max-width: 705px )
      margin-bottom: 20px

  &__heading
    max-width: 195px
    font-size: 21px
    line-height: 150%
    color: $black
    @media screen and ( max-width: 705px )
      font-size: 18px

  &__text
    max-width: 355px
    @media screen and ( max-width: 705px )
      font-size: 15px

  &__img
    width: 84px
    height: 84px
    background-image: url(../img/svg/social.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    border-radius: 26px
    &--handshake
      background-image: url(../img/svg/handshake.svg)
    &--rocket
      background-image: url(../img/svg/rocket.svg)
    &--star
      background-image: url(../img/svg/star.svg)

  &__list
    margin-left: 15px
    max-width: 355px

  &__item
    position: relative
    &::before
      position: absolute
      content: ""
      width: 8px
      height: 8px
      top: 20%
      left: -15px
      background-color: $dodger-blue
      border-radius: 50%
    &--circle-below
      &::before
        top: 40%
