.process
  padding: 50px 0
  background-color: $wild-sand

  &__wrap
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    margin-bottom: 15px
    color: $outer-space

  &__heading
    margin-bottom: 50px
    font-family: "OpenSans-SemiBold", sans-serif
    font-weight: 600
    font-size: 21px
    line-height: 150%
    color: $dodger-blue

  &__inner
    display: flex
    justify-content: space-between
    width: 100%

  &__card
    display: flex
    justify-content: space-between
    align-items: flex-start
    max-width: 285px
    width: 100%

  &__img
    width: 40px
    height: 52px
    background-image: url(../img/svg/document.svg)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    &--shield
      width: 44px
      background-image: url(../img/svg/shield.svg)
    &--scales
      width: 52px
      height: 40px
      background-image: url(../img/svg/scales.svg)
    &--money
      width: 52px
      height: 45px
      background-image: url(../img/svg/money.svg)

  &__content
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 225px

  &__caption
    margin-bottom: 10px
    font-family: "OpenSans-SemiBold", sans-serif
    font-weight: 600
    font-size: 18px
    line-height: 150%
    color: $outer-space

  &__text
    font-size: 15px
    line-height: 150%
